@model TestProxy.Models.Dataset.DatasetModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="centralised">
    @if (Model.Summaries != null && Model.Summaries.Any())
    {
        <table class="message-list">
            <thead>
                <tr>
                    <th class="text-cell">Id</th>
                    <th class="text-cell">Name</th>
                    @foreach (var messageType in Model.MessageTypes)
                    {
                        <th class="numeric-cell">@messageType</th>
                    }
                    <th class="text-cell">API Path</th>
                    @if (Model.CanEdit)
                    {
                        <th class="text-cell">Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var dataset in Model.Summaries)
                {
                    <tr>
                        <td class="text-cell">@dataset.Id</td>
                        <td class="text-cell">@dataset.Name</td>
                        @foreach (var messageType in Model.MessageTypes)
                        {
                            var count = dataset.MessageCounts.ContainsKey(messageType) ? dataset.MessageCounts[messageType] : 0;
                            <td class="numeric-cell">
                                @Html.RouteLink(count.ToString(), "DatasetRoute", new { Action = "View", id = dataset.Id, messageType = messageType }, new { @class = "Btn" })
                            </td>
                        }
                        <td class="text-cell">@string.Format(Model.ApiUrl, dataset.Id)</td>
                        @if (Model.CanEdit)
                        {
                            <td class="text-cell">
                                @Html.ActionLink("Upload Data", "Upload", new { id = dataset.Id }, new { @class = "Btn" })
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <span>There are currently no Datasets.</span>
    }
    <br />
    @if (Model.CanEdit)
    {
        <p>
            @Html.ActionLink("Create Dataset", "Create", new { }, new { @class = "btn btn-primary" })
        </p>
    }
</div>